<form method="post" action="/">
	<label>Enter SKU</label>
	<input type="text" name="sku" id="sku">
	<button type="submit" name="check">Check</button>
</form>

<p>TotalSales of searched SKU is :<%= @totalsale%></p>
<p>Highest Selling Store is : <%= @topstore%></p>
<p>Highest Sale: <%= @highestsale %></p> 
